* {
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

/* header */
#header {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    background: #111111;
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
    height: 3.25rem;
    left: 0;
    line-height: 3.25rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
}

#header>.logo {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    height: inherit;
    line-height: inherit;
    padding: 0 1.25rem;
    text-decoration: none;
}

#header>nav>a {
    color: inherit;
    display: inline-block;
    padding: 0 0.75rem;
    text-decoration: none;
}

#header>nav>a:hover {
    color: #ffffff;
}

@media screen and (max-width: 736px) {
    #header>nav>a {
        padding: 0 0.5rem;
    }
}

@media screen and (max-width: 980px) {
    body {
        padding-top: 44px;
    }

    #header {
        height: 44px;
        line-height: 44px;
    }
}

@media screen and (max-width: 480px) {
    #header {
        min-width: 320px;
    }
}

/*  artical section */
*,
*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2 {
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
    text-transform: uppercase;
}

figure {
    margin: 0;
}

img {
    height: auto;
    width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(100px, auto);
    margin: 24px;
    max-width: 1000px;
    position: relative;
}

.wrapper>* {
    grid-column: 1 / span 2;
}

.artical-name {
    font-size: 1.5em;
    grid-row: 1 / 2;
}

.artical-name:after {
    background: #6817ba;
    content: "";
    display: block;
    height: 20px;
    width: auto;
}

.article {
    text-align: right;
}

.featured-image-1 {
    grid-row: 2 / 3;
}

.number-1 {
    grid-row: 2 / 4;
}

.featured-image-2,
.number-2 {
    grid-row: 4 / 5;
}

.number-1,
.number-4 {
    align-self: end;
    color: rgba(104, 23, 186, 0.5);
    font-family: 'Fjalla One', sans-serif;
    font-size: 480px;
    line-height: 480px;
    grid-column: 1 / 2;
}

.article-1,
.article-4 {
    grid-column: 2 / 3;
}

.featured-image-2,
.number-2 {
    align-self: end;
}

.number-2 {
    color: #eee;
    font-size: 200px;
    justify-self: end;
    line-height: 160px;
}

.number-3 {
    background: black;
    border-radius: 130px;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 100px;
    height: 130px;
    line-height: 130px;
    position: absolute;
    grid-row: 6 / 7;
    right: -20px;
    text-align: center;
    top: -20px;
    width: 130px;
}

.featured-image-3 img {
    height: 100%;
}

.number-4 {
    font-size: 320px;
    left: -20px;
    line-height: 320px;
    position: absolute;
}

@media (min-width: 600px) {

    .wrapper {
        grid-template-columns: repeat(2, 1fr 2fr);
        margin: 24px auto;
    }

    .artical-name {
        grid-column: 3 / 5;
        width: 70%;
    }

    .featured-image-1 {
        grid-row: 1 / 3;
    }

    .article-1 {
        grid-row: 3 / 4;
    }

    .article-2 {
        grid-column: 4 / 5;
        grid-row: 4 / 5;
    }

    .featured-image-2,
    .number-2 {
        grid-column: 3 / 5;
        grid-row: 2 / 4;
    }

    .featured-image-3,
    .number-3 {
        grid-row: 4 / 6;
    }

    .featured-image-4,
    .number-4 {
        grid-column: 3 / 5;
        grid-row: 5 / 6;
    }

    .number-4 {
        font-size: 320px;
        grid-row: 5 / 7;
    }

    .article-3,
    .article-4 {
        grid-row: 6 / 7;
    }

    .article-4 {
        grid-column: 4 / 5;
    }

}

#banner {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    background-color: #111111;
    color: rgba(255, 255, 255, 0.5);
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-image: url("../../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0;
    display: -ms-flexbox;
    height: 35rem !important;
    min-height: 35rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

#banner video {
    -moz-transform: translateX(50%) translateY(50%);
    -webkit-transform: translateX(50%) translateY(50%);
    -ms-transform: translateX(50%) translateY(50%);
    transform: translateX(50%) translateY(50%);
    bottom: 50%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    right: 50%;
    width: auto;
}

#banner:before {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
    background: #111111;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#banner:after {
    background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#banner.small {
    height: 30vh !important;
    min-height: 30vh;
}

@media screen and (max-width: 1280px) {
    #banner video {
        display: none;
    }
}

@media screen and (max-width: 736px) {
    #banner {
        height: auto !important;
        min-height: 0;
        padding: 4rem 2rem 4rem 2rem;
    }
}

@media screen and (max-width: 480px) {
    #banner p {
        font-size: 1rem;
    }
}

body.is-preload #banner:before {
    opacity: 1;
}


/* contain */
.cover {
    background-image: url(../image/artical-cover.jpeg);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: 'Lato', sans-serif;
    padding: 2em;
}

.cover__content {
    max-width: 1000px;
    margin: 0 auto;
}

.top-section {
    background-color: #fff;
    color: #555c62;
    padding: 3em;
    margin-bottom: 4em;
}

.top-section__content {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.top-section .content-preview {
    flex: 0 1 230px;
}

@media screen and (max-width: 520px) {
    .top-section .content-preview {
        flex-grow: 1;
    }
}

.logo {
    display: none;
}

.title {
    display: flex;
    align-items: last baseline;
    margin-bottom: 2em;
    flex-wrap: wrap;
}

.title__text {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 3em;
    flex-grow: 1;
    letter-spacing: 0.025em;
    margin-bottom: 0.33em;
}

@media screen and (min-width: 520px) {
    .title__text {
        font-size: 4em;
    }
}

@media screen and (min-width: 700px) {
    .title__text {
        font-size: 6em;
    }
}

.title__details {
    font-weight: 400;
}

.title a {
    color: inherit;
    text-decoration: inherit;
}

.title a:hover {
    color: #fbd5b0;
}

.content-preview {
    padding: 0.5em;
    justify-self: start;
}

@media screen and (min-width: 700px) {
    .content-preview--left {
        text-align: right;
        justify-self: end;
    }
}

.content-preview-cat,
.content-preview-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
}

.content-preview-cat {
    text-decoration: underline;
    margin-bottom: 0.25em;
}

.content-preview-title {
    font-weight: 700;
    margin-bottom: 0.5em;
}

.content-preview__excerpt {
    text-transform: lowercase;
    font-weight: 300;
}

.lower-section {
    margin: 0 1em;
    grid-template-columns: 10% 2fr 10px 2fr 10%;
    grid-auto-flow: row dense;
}

@media screen and (min-width: 700px) {
    .lower-section {
        display: grid;
        margin-top: 8em;
    }
}

.lower-section .content-preview {
    max-width: 240px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.lower-section .content-preview--top {
    margin-top: 2em;
}

.lower-section .content-preview--bottom {
    margin-bottom: 2.5em;
}

.headline {
    grid-row: 2;
    grid-column: -1;
    display: flex;
}

.boxed-headline {
    text-align: center;
    padding: 1em;
    border: 1px solid #fff;
    position: relative;
    flex: 1 0 auto;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    line-height: 1.3;
    font-size: 1.2em;
    font-weight: 900;
    max-width: 100%;
}

.boxed-headline:before {
    content: "";
    position: absolute;
    border: inherit;
    left: 0.5em;
    right: 0.5em;
    top: -0.5em;
    bottom: -0.5em;
}

.line {
    position: relative;
}

@media screen and (max-width: 520px) {
    .line {
        display: none;
    }
}

.line:before {
    content: '';
    height: 0.8em;
    width: 0.8em;
    background: #fff;
    display: block;
    position: absolute;
}

.line:after {
    content: '';
    border-color: #fff;
    position: absolute;
    display: block;
}

.line--vertical {
    grid-column: 3;
    display: none;
}

@media screen and (min-width: 700px) {
    .line--vertical {
        display: block;
    }
}

.line--vertical:after {
    left: 50%;
    top: 0;
    bottom: 0;
    border-left: 1px solid;
}

.line--vertical:before {
    left: 50%;
    transform: translateX(-50%);
}

.line--bottom:before {
    bottom: 0;
}

.line--horizontal {
    flex: 1 0 30px;
}

.line--horizontal:after {
    left: 0;
    right: 0;
    top: 50%;
    border-top: 1px solid;
}

.line--horizontal:before {
    top: 50%;
    transform: translateY(-50%);
}

.line--right:before {
    right: 0;
}


/* article-section */
.article-section {
    background: #eee3c8;
    margin: 0;
    padding: 0 0 15px;
}

.article-class {
    margin: auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 0.5em;
}

.article-section h1,
.article-section cite,
.article-section img,
.article-section aside,
.article-section main {
    grid-column: 2;
}

.article-section main {
    max-width: 450px;
    margin: auto;
    text-align: justify;
}

.article-section img {
    width: 100%;
}

.article-section p:first-child {
    margin-top: 0;
}

.article-section p:last-child::after {
    content: ' ■';
    opacity: 0.2;
}

/* Title Layout */
.article-section h1 span {
    display: block;
}

.focusing {
    margin-bottom: -10px;
}

.the {
    transform: translateY(50%);
    background: #eee3c8;
    width: 50px;
    margin: auto;
}

.heart {
    border: thin solid black;
    border-width: thin 0;
    padding: 10px 0 0;
}

/* Typography */
.article-section h1 {
    text-align: center;
}

.focusing {
    font-family: 'questa-grande';
    text-transform: uppercase;
    font-size: 1em;
}

.the {
    font-family: 'brandon-grotesque';
    text-transform: uppercase;
    font-size: 0.5em;
}

.heart {
    font-family: 'ltc-bodoni-175';
    text-transform: uppercase;
    font-size: 2em;
}

.article-section cite {
    font-family: 'brandon-grotesque';
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}

.name {
    font-weight: 900;
}

.article-section main {
    font-family: 'abril-text';
}

.dropcap {
    font-family: 'brandon-grotesque';
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.1em;
}

.article-section aside {
    font-family: 'brandon-grotesque';
    font-style: italic;
    text-align: right;
}

@media only screen and (min-width: 750px) {

    /* Layout */
    /* Title */
    .article-section {
        padding: 30px 0;
    }

    .article-section .article-class {
        grid-template-columns: 1fr 3fr 1fr;
        grid-gap: 1.5em;
    }

    .article-section main {
        margin: 0;
    }

    .article-section aside {
        grid-column: 1;
        grid-row: 4;
        margin-top: 7em;
    }

    .article-section .focusing {
        font-size: 2.2em;
        margin-bottom: -15px;
    }

    .the {
        font-size: 0.75em;
    }

    .heart {
        font-size: 4em;
    }
}

/* footer */
#footer {
    background-color: #111111;
    color: rgba(255, 255, 255, 0.5);
    padding: 8rem 2rem 6rem 2rem;
}

#footer a {
    color: #ce1b28;
}



#footer ul.alt li {
    border-top-color: rgba(255, 255, 255, 0.25);
}

#footer .testimonials .content .credit strong {
    color: #ce1b28;
}

#footer a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

#footer a:hover {
    color: #ce1b28;
}

#footer .content {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

#footer .content section {
    width: 25%;
}

#footer .content section:first-child {
    width: 50%;
    padding-right: 4rem;
}

#footer .content section:last-child {
    padding-left: 4rem;
}

@media screen and (max-width: 1280px) {
    #footer {
        padding: 4rem 2rem 2rem 2rem;
    }
}

@media screen and (max-width: 980px) {
    #footer .content {
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #footer .content section {
        width: 50%;
    }

    #footer .content section:first-child {
        width: 100%;
        padding-right: 0;
    }
}

@media screen and (max-width: 736px) {
    #footer {
        padding: 3rem 0 1rem 0;
    }

    #footer .content section {
        width: 100%;
    }

    #footer .content section:last-child {
        padding-left: 0;
    }
}

@media screen and (max-width: 480px) {
    #footer {
        padding: 2rem 0 0.1rem 0;
    }
}